*{
    border: 0em;
    margin: 0em;
    padding: 0em;
}

div#contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
   
div#contenedor section {
    float: right;
    width: 65%;
}
   
div#contenedor aside {
    float: left;
    width: 30%;
}

body{
    font-family: 'century';
}

h2{
    background: rgb(180, 68, 54);
    text-align: center;   
    padding : 0.7%;
}

h2:hover{
    background:rgb(65, 40, 129);
    color: white;
    font-family:cursive;
    border:0.1em dotted #F60;
    border-radius: 0 0.5em 0 0.5em;
    transition: all 1s ease-in;
}

#idEncabezado{
    background: rgb(53, 51, 51);
    color: white;
    text-align: center;
    height: 45%;
    padding: 4.5%;
    margin-left: 6%;
    margin-right: 5.6%;
}

img{
    float: left;
    height: 14%;
    width: 14%;
    margin-left: 20%;
    padding-top: 1%;    
}

.zoom:hover {
    transform: scale(1.5);
    transition: transform .2s; 
}

#tituloprincipal{
    text-align: left;
}

.aside{
    background: rgb(62, 161, 100);
    text-align: center;
    margin-left: 1%;
    padding-top: 1.9%;
    margin-top: 5.5%;
}

.hobbie{
    height: 12%;
    width: 12%;
    float:left;
    padding-left: 1%;
}

.habilidades{
    height: 50%;
    width: 50%;
}

#divImg{
    float:left;
}